on early-init
    start ueventd

on init
    # Configuración base
    setprop ro.hardware e0
    setprop ro.secure 0
    setprop ro.debuggable 1
    setprop persist.service.adb.enable 1
    setprop vold.debug 1

    export TMPDIR /data/local/tmp
    export EXTERNAL_STORAGE /mnt/sdcard

    sysclktz 0
    loglevel 3


on fs
    # Montaje de particiones básicas
    mount ext4 /dev/block/mmcblk0p16 /cache wait nosuid nodev noatime
    mount ext4 /dev/block/mmcblk0p14 /system wait ro
    mount ext4 /dev/block/mmcblk0p21 /data wait nosuid nodev noatime

on post-fs
# create mountpoints for storage
    mkdir /mnt/sdcard 0000 system system
    mkdir /mnt/extra-sd 0000 system system
    symlink /mnt/sdcard /sdcard

on post-fs-data
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/bluetoothd 0770 bluetooth bluetooth
    chown bluetooth bluetooth /data/misc/bluetoothd
    mkdir /data/system 0775 system system
    mkdir /data/local 0771 shell shell
    mkdir /data/local/tmp 0771 shell shell
    mkdir /data/data 0771 system system
    chmod 0771 /data/misc

on boot
    # Iniciar servicios básicos
    ifup lo
    hostname localhost
    domainname localdomain
    class_start core

service console /system/bin/sh
    class core
    console
    disabled
    user shell
    group shell log

service adbd /sbin/adbd
    class core
    disabled
    oneshot

on property:ro.debuggable=1
    start adbd
